.html-generator-modal .ant-modal-content {
  background: #0d1117 !important;
  color: #c9d1d9 !important;
}

.html-generator-modal .ant-modal-header {
  background: #0d1117 !important;
  border-bottom: 1px solid #30363d !important;
}

.html-generator-modal .ant-modal-title {
  color: #c9d1d9 !important;
}

.html-generator-modal .ant-modal-close {
  color: #8b949e !important;
}

.html-generator-modal .ant-modal-close:hover {
  color: #c9d1d9 !important;
}

.html-generator-modal .ant-modal-footer {
  background: #0d1117 !important;
  border-top: 1px solid #30363d !important;
}

.html-generator-modal .ant-select-selector {
  background: #161b22 !important;
  border-color: #30363d !important;
  color: #c9d1d9 !important;
}

.html-generator-modal .ant-select-arrow {
  color: #8b949e !important;
}

.html-generator-modal .ant-checkbox-wrapper {
  color: #c9d1d9 !important;
}

.html-generator-modal .ant-radio-wrapper {
  color: #c9d1d9 !important;
}

.html-generator-modal .ant-input-number {
  background: #161b22 !important;
  border-color: #30363d !important;
  color: #c9d1d9 !important;
}

.html-generator-modal .ant-input-number-input {
  color: #c9d1d9 !important;
}

.html-generator-modal .ant-collapse {
  background: #161b22 !important;
  border-color: #30363d !important;
}

.html-generator-modal .ant-collapse-header {
  color: #c9d1d9 !important;
}

.html-generator-modal .ant-alert {
  background: #161b22 !important;
  border-color: #30363d !important;
}

.html-generator-modal .ant-alert-message {
  color: #c9d1d9 !important;
}